<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FRAPPLUS"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".item_lista_MaterialesConsumos"
            android:exported="false" />
        <activity
            android:name=".item_lista_Medicamentos"
            android:exported="false" />
        <activity
            android:name=".activity_datos_servicio_cancelado2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DatosControlCancelado"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DatosServicioCancelado"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.AgregarMedicamentos"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.AgregarMaterialMedico"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.Evaluacion2Reporte5"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.OpcionesAdicionalesCRUM"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.OpcionesAdicionalesComentariosGenerales"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.OpcionesAdicionalesresumenSignosVitales"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.OpcionesAdicionalesSignosVitales"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.OpcionesAdicionalesReporte"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.ConsumosResumenMedicamentos"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.ConsumosResumenMateriales"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.DatosLegalesReporte3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.DatosLegalesReporte2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.TrasladoReporte3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.TrasladoReporte2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.TratamientoReporte6"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.TratamientoReporte5"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.TratamientoReporte4"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.TratamientoReporte3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.TratamientoReporte2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.EvaluacionIReporte5"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.Evaluacion2Reporte4"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.Evaluacion2Reporte3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.Evaluacion2Reporte2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.Evaluacion2Reporte"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.EvaluacionIReporte4"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.EvaluacionIReporte3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.EvaluacionIReporte2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.PartoReporte2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.CausaTxReporte3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.CausaTxReporte2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.ServicioReporte2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.ConsumosReporte"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.HospitalReceptorReporte"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.DatosLegalesReporte"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.MinisterioPublicoReporte"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.ObservacionesReporte"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.TrasladoReporte"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.TratamientoReporte"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.EvaluacionIIReporte"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.EvaluacionIReporte"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.PartoReporte"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.CausaClinicaReporte"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.CausaTxReporte"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.PacienteReporte"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.ControlReporte"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.ServicioReporte"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.CanceladoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.DelegacionReporte"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.MainReporte"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.VerInformeFrap"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.Ayuda"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.Configuracion"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityInicio"
            android:exported="false" />
        <activity
            android:name=".editaractivity"
            android:exported="false" />
        <activity
            android:name=".VerActivity"
            android:exported="false" />
        <activity
            android:name=".Consumos"
            android:exported="false" />
        <activity
            android:name=".XVHospitalReceptor"
            android:exported="false" />
        <activity
            android:name=".XIVDatosLegales"
            android:exported="false" />
        <activity
            android:name=".XIIIMinisterioPublico"
            android:exported="false" />
        <activity
            android:name=".XIIObservaciones"
            android:exported="false" />
        <activity
            android:name=".XITraslado"
            android:exported="false" />
        <activity
            android:name=".XTratamiento"
            android:exported="false" />
        <activity
            android:name=".IXEvaluacion"
            android:exported="false" />
        <activity
            android:name=".VIIIEvaluacionI"
            android:exported="false" />
        <activity
            android:name=".VIIParto"
            android:exported="false" />
        <activity
            android:name=".VICausaClinica"
            android:exported="false" />
        <activity
            android:name=".VCausaTx"
            android:exported="false" />
        <activity
            android:name=".IVPACIENTE"
            android:exported="false" />
        <activity
            android:name=".Control"
            android:exported="false" />
        <activity
            android:name=".Servicio"
            android:exported="false" />
        <activity
            android:name=".DatosDelegacion"
            android:exported="false" />
        <activity
            android:name=".VerServidores"
            android:exported="false" />
        <activity
            android:name=".AgregarServidor"
            android:exported="false" />
        <activity
            android:name=".VerImpresoras"
            android:exported="false" />
        <activity
            android:name=".AgregarImpresoras"
            android:exported="false" />
        <activity
            android:name=".IniciarTurnoActivity"
            android:exported="false" />
        <activity
            android:name=".EliminarActivity"
            android:exported="false" />
        <activity
            android:name=".FRAPCanceladoActivity"
            android:exported="false" />
        <activity
            android:name=".ConfiguracionActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Vistas.InicioFrap"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vistas.activity_splash"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>